<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/angular.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div data-ng-app="drinkApp">
        <div data-ng-controller="DrinkController">

            Controller:
            <input type="text" ng-model="ControllerFlavor" />

            <br />
            <br />

            Directive:
            <div drink flavor="ControllerFlavor"></div>

        </div>
    </div>

    <script type="text/javascript">
        var app = angular.module("drinkApp", []);

        app.controller("DrinkController", function ($scope) {
            $scope.ControllerFlavor = "banana";
        });

        //app.directive("drink", function () {
        //    return {
        //        scope: {}, /* isolated scope */
        //        template: "<div>{{flavor}}</div>",
        //        link: function (scope, element, attrs) {
        //            scope.flavor = attrs.flavor;
        //        }
        //    };
        //});

        app.directive("drink", function () {
            return {
                scope: { flavor: "=" },
                template: "<div class='alert alert-warning'>{{flavor}}</div>" +
                    "<input type='text' ng-model='flavor'/>"
            }
        });
    </script>
</body>

</html>
