<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script src="Scripts/angular.js"></script>
</head>
<body>

    <div data-ng-app="myApp">
        <!--<input type="text" data-ng-model="data.message" />
        <h2>{{data.message}}</h2>-->



        <div data-ng-controller="FirstController">
            <input type="text" data-ng-model="data.message" />
            <h2>{{data.message | reverse}}</h2>
        </div>



        <div data-ng-controller="SecondController">
            <input type="text" data-ng-model="data.message" />
            <h2>{{data.message}}</h2>
        </div>

        <!-- directive:supermancomment -->

        <supermanelement></supermanelement>

        <div supermanattribute="" class="supermanclass"></div>
    </div>

    <script type="text/javascript">

        var myApp = angular.module("myApp", []);

        myApp.factory("Data", function () {
            return { message: "I am data from a service" };
        });

        myApp.filter("reverse", function () {
            return function (text) {
                return text.split("").reverse().join("");
            }
        });

        myApp.directive("supermanelement", function () {

            var obj = {
                restrict: 'E',
                template: '<div>Here I am to save the day</div>'
            };

            return obj;
            
        });

        myApp.directive("supermanattribute", function () {
            return {
                restrict: 'A',
                link: function () {
                    console.log("I am working as attribute");
                }
            };
        });

        myApp.directive("supermanclass", function () {
            return {
                restrict: 'C',
                link: function () {
                    console.log("I am working in class");
                }
            };
        });

        myApp.directive("supermancomment", function () {
            return {
                restrict: 'M',
                link: function () {
                    console.log("I am working as a comment");
                }
            }
        });

        function FirstController($scope, Data)
        {
            $scope.data = Data;
        }

        function SecondController($scope, Data)
        {
            $scope.data = Data;
        }
    </script>
</body>
</html>
