@{
    ViewBag.Title = "Index";
}

@section Head {
    <script src="@Url.Content("~/Scripts/lib/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/app/001-controllers.js")"></script>
}

<h2>Index</h2>

<div ng-controller="ParticleList.ParticleCtrl">
  <ul>
    <li ng-repeat="particle in particles">
      <p>{{particle.name}} ({{particle.symbol}})</p>
    </li>
  </ul>

  <p>Total number of particles: {{particles.length}}</p>

</div>

