@{
    ViewBag.Title = "Index";
}

@section head {
    <script src="@Url.Content("~/Scripts/lib/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/app/001-controllers.js")"></script>
}

<div ng-app>

    <div ng-controller="ParticleList.ParticleCtrl">

        <p>{{title}}</p>

      <ul>
        <li ng-repeat="particle in particles">
          <p>{{particle.name}} ({{particle.symbol}})</p>
        </li>
      </ul>

      <p>Total number of particles: {{particles.length}}</p>

    </div>

    <!-- Experiments -->

    @*<table>
        <tr><th>row number</th></tr>
        <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
    </table>*@

</div>