@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyApplication1.Product>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Product</title>

</head>
<body>
	@Model.Id
    
    @Model.Name

    This view was rendered using the Razor view engine
</body>
</html>