@model KatanaBugTracker.ViewModels.HomeViewModel

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/app.js"></script>

    @* Twitter Bootstrap *@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>

    @* SignalR *@
    <script src="~/Scripts/jquery.signalR-2.0.1.js"></script>
    <script src="~/signalr/hubs"></script>

    <style type="text/css">
        /* Prevent the text contents of draggable elements from being selectable. */
        [draggable] {
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            /* Required to make elements draggable in old WebKit */
            -khtml-user-drag: element;
            -webkit-user-drag: element;
        }
    </style>

</head>
<body>
    <div class="container">
        <header>
            <h1>@Model.Title</h1>
        </header>

        <section>
            <h3>Backlog</h3>

            <div class="alert alert-warning" data-bind="visible: Backlog().length == 0">
                <p>There are no bugs in backlog</p>
            </div> 

            <div class="list-group" id="backlog" data-bind="foreach:Backlog">
                <div draggable="true" class="list-group-item alert" 
                     data-bind="event: { drop: handleDrop, dragstart: handleDragStart, dragenter: handleDragEnter, dragover: handleDragOver}, 
                                css: {'alert-success': $root.draggingBug() == $data, 'alert-warning': $root.dragOverBug() == $data}">
                    <p>
                        <span class="badge" data-bind="text: Id"></span>
                        <strong><span data-bind="text: Title"></span></strong>
                        <br />
                        <span data-bind="text: Description"></span>
                    </p>
                </div>
            </div>
        </section>
        <section>
            <h3>Working</h3>

            <div class="alert alert-warning" data-bind="visible: Working().length == 0">
                <p>There are no bugs in working state</p>
            </div>

            <div class="list-group" id="working" data-bind="foreach:Working">
                <div draggable="true" class="list-group-item alert" 
                     data-bind="event: { drop: handleDrop, dragstart: handleDragStart, dragenter: handleDragEnter, dragover: handleDragOver},
                                css: {'alert-success': $root.draggingBug() == $data, 'alert-warning': $root.dragOverBug() == $data}">
                    <p>
                        <span class=" badge" data-bind="text: Id">
                        </span>
                        <strong><span data-bind="text: Title"></span></strong>
                        <br />
                        <span data-bind="text: Description"></span>
                    </p>
                </div>
            </div>
        </section>
        <section>
            <h3>Done</h3>

            <div class="alert alert-warning" data-bind="visible: Done().length == 0">
                <p>There are no bugs in done state</p>
            </div>

            <div class="list-group" id="done" data-bind="foreach:Done">
                <div draggable="true" class="list-group-item alert" 
                     data-bind="event: { drop: handleDrop, dragstart: handleDragStart, dragenter: handleDragEnter, dragover: handleDragOver},
                                css: {'alert-success': $root.draggingBug() == $data, 'alert-warning': $root.dragOverBug() == $data}">
                    <p>
                        <span class="badge" data-bind="text: Id"></span>
                        <strong><span data-bind="text: Title"></span></strong>
                        <br />
                        <span data-bind="text: Description"></span>
                    </p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>