@{
    ViewBag.Title = "Custom bindings";
}

@section header {
    <script src="@Url.Content("~/Scripts/KnockuotTypescript/005-custom-bindings.js")" type="text/javascript"></script>
}

<h3 data-bind="text: question"></h3>
<p>Please distribute <span class="badge badge-info" data-bind="text: pointsBudget"></span> points between the following options.</p>

<table class="table c-table">
    <thead><tr><th>Option</th><th>Importance</th></tr></thead>
    <tbody data-bind="foreach: answers">
        <tr>
            <td data-bind="text: text"></td>
            <td data-bind="starRating: points"></td>
        </tr>    
    </tbody>
</table>

<div data-bind="fadeVisible: pointsUsed() > pointsBudget">
    <div class="alert">
        You've used too many points! <strong>Please remove some.</strong>
    </div>
</div>

<p>You've got <span class="badge badge-info" data-bind="text: pointsBudget - pointsUsed()"></span> points left to use.</p>

<button data-bind="jqButton: { enable: pointsUsed() <= pointsBudget }, click: save">Finished</button>