@{
    ViewBag.Title = "Loading and saving data";
}

@section header{
    <script src="@Url.Content("~/Scripts/KnockuotTypescript/006-load-save-data.js")" type="text/javascript"></script>
}

<h3>Tasks</h3>

<span id="updated"></span>

<div class="taskList">
    <form data-bind="submit: addTask">
        Add task: <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
        <button type="submit">Add</button>
    </form>

    <ul data-bind="foreach: tasks, visible: tasks().length > 0">
        <li>
            <input type="checkbox" data-bind="checked: IsDone" />
            <input data-bind="value: Title, disable: IsDone" />
            <a href="#" data-bind="click: $parent.removeTask">Delete</a>
        </li> 
    </ul>

    You have <b data-bind="text: incompleteTasks().length">&nbsp;</b> incomplete task(s)
    <span data-bind="visible: incompleteTasks().length == 0"> - it's beer time!</span>
</div>

@*@using (Html.BeginForm("Save", "Task", FormMethod.Post))
{ 
    <input type="hidden" name="tasks" data-bind="value: ko.toJSON(tasks)" />
    <button type="submit">Save</button>    
}*@

<form data-bind="submit: save">
<button type="submit">Save</button>
</form>