@{
    ViewBag.Title = "Single page applications";
}

@section header {
    <script src="@Url.Content("~/Scripts/KnockuotTypescript/004-single-page-apps.js")" type="text/javascript"></script>
}

<!-- Folders -->
<ul class="nav nav-tabs" data-bind="foreach: folders">
  <li data-bind="css: { active: Id == $root.chosenFolderId() },
                 click: $root.goToFolder">
      <a href="#" data-bind="text: Name"></a>
  </li>
</ul>

<!-- Mails grid -->
<table class="table table-bordered" data-bind="with: chosenFolderData">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Mails">
        <tr data-bind="click: $root.goToMail">
            <td data-bind="text: From"></td>
            <td data-bind="text: To"></td>
            <td data-bind="text: Subject"></td>
            <td data-bind="datetext: Date"></td>
        </tr>     
    </tbody>
</table>

<!-- Chosen mail -->
<div data-bind="with: chosenMailData">
<div class="hero-unit" data-bind="visible: Id > 0">
    <h3 data-bind="text: Subject"></h3>
    <p><label>From:</label> <span data-bind="text: From"></span></p>
    <p><label>To:</label> <span data-bind="text: To"></span></p>
    <p><label>Date:</label> <span data-bind="datetext: Date"></span></p>
    
    <p data-bind="html: MessageContent" />
</div>
</div>
