@{
    ViewBag.Title = "Single page applications";
}

@section header {
    <script src="@Url.Content("~/Scripts/KnockuotTypescript/004-single-page-apps.js")" type="text/javascript"></script>
}

<!-- Folders -->
<ul class="folders" data-bind="foreach: folders">
    <li data-bind="text: Name, 
               css: { selected: Id == $root.chosenFolderId() },
               click: $root.goToFolder"></li>
</ul>

<!-- Mails grid -->
<table class="mails" data-bind="with: chosenFolderData">
    <thead><tr><th>From</th><th>To</th><th>Subject</th><th>Date</th></tr></thead>
    <tbody data-bind="foreach: Mails">
        <tr>
            <td data-bind="text: From"></td>
            <td data-bind="text: To"></td>
            <td data-bind="text: Subject"></td>
            <td data-bind="text: Date"></td>
        </tr>     
    </tbody>
</table>